html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.resetButton {
  /* background-color: #eb872b;  */
  color: #353535;
  height: 80px; 
  width: 80px; 
  border-style: none;
  border-radius: 25%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: medium;
  font-size: 14pt;
}

.resetButtonMO {
  /* background-color: #eb872b; */
  color: #f7f7f7;
  height: 80px; 
  width: 80px; 
  border-style: none;
  border-radius: 25%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: medium;
  font-size: 14pt;
}

.swatch {
  height: 35px; 
  width: 35px; 
  border-style: none;
  border-radius: 25%;
}

.swatchSl { 
  height: 35px; 
  width: 35px; 
  border-style: none;
  border-radius: 50%;
}